<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0037)http://www.jpsm.org/jpsm/?courses.htm -->
<html xmlns="http://www.w3.org/1999/xhtml">
<cfoutput>
<head>
	<title>JPSM Short Courses</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="\templates\_default.css" type="text/css"/>
	<link rel="stylesheet" href="\templates\_site.css" type="text/css">
	<!--  <script src="#Request.App.Site#/_default.js" type="text/javascript" language="javascript"></script>
	<script src="#sJSFile#" type="text/javascript" language="javascript"></script>-->
	<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
	<meta content="MSHTML 6.00.6000.16608" name="GENERATOR">
</head>
</cfoutput>

<body>

<cfoutput>
<!--- Flyover Menu --->
<div class="menu" id="menu"> <img id="logo" alt="JPSM logo" src="\templates\Logo_white_trans.gif"> <br>
  	<br />
  	<!--- Short Course Menu --->
<!--
    <div class="submenu" id="geninfo" onmouseover="hideAllClear()" onmouseout="hideAllDelay()">
        <a href="#Request.App.Site#/index.cfm">- Current Short Course</a>
        <a href="#Request.App.Site#/index.cfm?past=true">- Past Short Course</a>
    </div>
    <a id="geninfolink" onmouseover="show('geninfo')" onmouseover="hideAllDelay()"
    	href="#Request.App.Site#/index.cfm"> + Short Courses</a>
	-->
	<!--- End Short Course Menu --->

    <a href="https://projects.isr.umich.edu/jpsm/index.cfm">&nbsp;&nbsp; Short Courses
		<a style="margin-left: 25px;" href="https://projects.isr.umich.edu/jpsm/index.cfm">&bull;&nbsp;Upcoming Courses</a>
		<a style="margin-left: 25px;" href="https://projects.isr.umich.edu/jpsm/index.cfm?past=true">&bull;&nbsp;Past Courses</a>
	</a>
    <a href="https://projects.isr.umich.edu/jpsm/info.cfm##fees">&nbsp;&nbsp; Fees</a>
    <a href="https://projects.isr.umich.edu/jpsm/info.cfm##fellowships">&nbsp;&nbsp; Fellowships</a>
    <a href="https://projects.isr.umich.edu/jpsm/info.cfm##payment">&nbsp;&nbsp; Payment</a>
    <a href="https://projects.isr.umich.edu/jpsm/info.cfm##registration">&nbsp;&nbsp; Registration</a>
    <a href="https://projects.isr.umich.edu/jpsm/info.cfm##cancellation">&nbsp;&nbsp; Cancellation</a>
    <a href="https://projects.isr.umich.edu/jpsm/info.cfm##sponsors">&nbsp;&nbsp; Sponsor Affiliates</a>
    <br />
    <a href="https://projects.isr.umich.edu/jpsm/contact.cfm">&nbsp;&nbsp; Contact JPSM</a>
    <a href="https://projects.isr.umich.edu/jpsm/signup.cfm">&nbsp;&nbsp; Course Notification</a>

<!---
<div class="submenu" id="geninfo" onmouseover="hideAllClear()" onmouseout="hideAllDelay()"> <a href="http://www.jpsm.org/jpsm/?geninfo/directions.htm">- Directions, Transportation
    and Parking</a> <a href="http://www.jpsm.org/jpsm/?geninfo/teachtech.htm">- Teaching
    Technologies</a> <a href="http://www.jpsm.org/jpsm/?geninfo/careers.htm">- Careers in
    Survey Research</a>
</div>
  <a id="geninfolink" onmouseover="show('geninfo')" onmouseout="hideAllDelay()" href="http://www.jpsm.org/jpsm/?geninfo.htm"> + General Information</a>

<div class="submenu" id="programs" onmouseover="hideAllClear()" onmouseout="hideAllDelay()"> <a href="http://www.jpsm.org/jpsm/?programs/masters.htm">- Masters of Science</a> <a href="http://www.jpsm.org/jpsm/?programs/phd.htm">- PhD</a> <a href="http://www.jpsm.org/jpsm/?programs/certcitat.htm"> - Certificate and Citation</a> <a href="http://www.jpsm.org/jpsm/?programs/nondegree.htm"> - Non-Degree Seeking</a> <a href="https://projects.isr.umich.edu/jpsm/" target="_blank"> - Short Courses</a> <a href="http://www.jpsm.org/jpsm/?courses/summermini.htm">- Summer
    Mini Courses</a> <a href="http://www.jpsm.umd.edu/fellows/" target="_blank">- Junior
    Fellow Program</a>
</div>

  <a id="programslink" onmouseover="show('programs')" onmouseout="hideAllDelay()" href="http://www.jpsm.org/jpsm/?programs.htm"> + Programs</a>
<div class="submenu" id="admissions" onmouseover="hideAllClear()" onmouseout="hideAllDelay()">
    <a href="http://www.jpsm.org/jpsm/?admissions/howtoapply.htm">- How to Apply</a> <a href="http://www.jpsm.org/jpsm/?admissions/finsupport.htm">- Financial Support</a> <a href="http://www.jpsm.org/jpsm/?admissions/forms.htm">- Forms</a>
</div>

  <a id="admissionslink" onmouseover="show('admissions')" onmouseout="hideAllDelay()"
            href="http://www.jpsm.org/jpsm/?admissions.htm">+ Admissions</a>
<div class="submenu" id="courses" onmouseover="hideAllClear()" onmouseout="hideAllDelay()"> <a href="http://www.jpsm.org/jpsm/?courses.htm">- Full Course Listing</a> <a href="http://www.jpsm.org/jpsm/?programs/masters/coursesched.htm"> - Sample Program</a> <a href="javascript:gotoTestudo()">- Current Offerings</a> <a href="https://projects.isr.umich.edu/jpsm/" target="_blank">- Short Courses</a> <a href="http://www.jpsm.org/jpsm/?courses/summermini.htm">- Summer Mini Courses</a>
</div>

  <a id="courseslink" onmouseover="show('courses')" onmouseout="hideAllDelay()" href="http://www.jpsm.org/jpsm/?courses.htm"> + Courses Offered</a>
<div class="submenu" id="graduation" onmouseover="hideAllClear()" onmouseout="hideAllDelay()">
    <a href="http://www.jpsm.org/jpsm/?graduation/forms.htm">- Forms</a>
</div>

  <a id="graduationlink" onmouseover="show('graduation')" onmouseout="hideAllDelay()"
            href="http://www.jpsm.org/jpsm/?graduation.htm">+ Graduation</a>
<div class="submenu" id="people" onmouseover="hideAllClear()" onmouseout="hideAllDelay()"> <a href="http://www.jpsm.org/jpsm/?people.htm##faculty">- Faculty</a> <a href="http://www.jpsm.org/jpsm/?people.htm##staff"> - Staff</a> <a href="http://www.jpsm.org/jpsm/?people/students.htm">- Students</a> <a href="http://www.jpsm.org/jpsm/?people/students/studentawards.htm">- Student Awards</a>
</div>

  <a id="peoplelink" onmouseover="show('people')" onmouseout="hideAllDelay()" href="http://www.jpsm.org/jpsm/?people.htm"> + People</a>
<div class="submenu" id="events" onmouseover="hideAllClear()" onmouseout="hideAllDelay()"> <a href="http://www.jpsm.org/jpsm/?OLD_CONTENT/specialevents.htm">- Special Events</a> <a href="http://www.jpsm.org/jpsm/?events/pastevents.htm">- Past Events</a>
</div>

  <a id="eventslink" onmouseover="show('events')" onmouseout="hideAllDelay()" href="http://www.jpsm.org/jpsm/?events.htm"> + News and Events</a> <a onmouseover="hideAll()" href="http://www.jpsm.umd.edu/fellows"
                target="_blank">&nbsp;&nbsp; Junior Fellow Program</a> <a onmouseover="hideAll()"
                    href="http://www.jpsmclasses.umd.edu/" target="_blank">&nbsp;&nbsp; Online Media</a>
--->
<br />
<a href="http://jointprogram.umd.edu/home" target="_blank">&nbsp;&nbsp; JPSM Home</a>
<a href="http://jointprogram.umd.edu/programs/certificates" target="_blank">&nbsp;&nbsp; Citation Programs</a>
<!---<a href="http://www.jpsm.org/jpsm/?links.htm" target="_blank">&nbsp;&nbsp; Links</a>--->

</div>

<!--- End Menu --->
</cfoutput>

<div class="header" id="header">
  <div class="pageheading"> Joint Program in Survey Methodology</div><br />
		<a title="Link to U of MD website" href="http://www.umd.edu"
			target="_blank">University of Maryland</a>&nbsp; -&nbsp;
		<a title="Link to U of M website" href="http://www.umich.edu"
			target="_blank">University of Michigan</a>&nbsp; -&nbsp;
		<a title="Link to Westat website" href="http://www.westat.com" target="_blank">Westat</a>
</div>

<div class="content" id="content" >
	<!--- Content Section ---->
{% block content %}{% endblock %}
	<!--- End Content Section --->
  	<div style="clear: both"> </div>
</div>

<div class="footer" id="footer">
	<!---University of Michigan&nbsp; -&nbsp;426 Thompson Street, Room 4050&nbsp; -&nbsp;
  	Ann Arbor, MI 48104-2321</a>&nbsp; -&nbsp; Phone: (800) 937-9320&nbsp; -&nbsp; Fax:
  	(734) 764-8263 --->&nbsp;
</div>
</body>
</html>
